<div class="profile">

    
    <%- include('layouts/menu.ejs') %>



    <div class="right">
        <h1 style="margin-top: 10px; margin-left: 10px;">Gallary</h1>
        <hr>
        <% if (message) { %>
            <p class="error"><%= message %></p>
            <% } %>

            <hr>
        <div class="pro_details">
        
            <h1 style="margin-top: 10px; margin-left: 10px;">Upload Photo</h1>

            <form action="/gallery" method="POST" enctype="multipart/form-data">
                <input type="file" accept=".png, .jpg, .jpeg" multiple max="5"  name="gallery" id="galary-photo-upload" style="margin-top: 10px; margin-left: 10px;">
                <input type="submit" value="Upload" id="gallery-submit" style="margin-bottom: 10px; ;">
                <h2>Photo Ready For Upload</h2>
                <hr>

            </form>
            <div class="pictures" id="galary-photos">
                
                
            </div>

        </div>
    </div>
</div>