<div class="profile">

    <%- include('layouts/menu.ejs') %>
    
    <div class="right">
        <h1 class="pass_change">Change Password</h1>
        <hr>
        <form id="edit_form" action="/change-password" method="POST">
            <label for="password">Old Password</label><br>
            <input type="password" name="password" ><br>
            <label for="newpasword">New Password</label><br>
            <input type="password" name="newpassword" id=""><br>
            <label for="Confirmpasword">Confirm Password</label><br>
            <input type="password" name="confirmpassword" id=""><br>
            
            <input type="submit" value="Submit"   id="submit">

    </form>
    <% if (message) { %>
        <p class="error"><%= message %></p>
    <% } %>
   
    </div>
</div>